<!-- Footer -->
<footer class="page-footer font-small indigo accent-4 ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">© 2019 Copyright:
      <b>Ký túc xá đô thị đại học Đà Nẵng</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
